<table *ngIf="!loading; else loader">
    <thead>
        <tr>
            <td class="collection-item">Question</td>
            <td class="collection-item date">Date</td>
            <td class="collection-item viewedNumber"
                ><i class="material-icons">remove_red_eye</i></td
            >
            <td class="collection-item answersAmount">Answers</td
            ><td class="collection-item delete" *ngIf="admin"></td>
        </tr>
    </thead>
    <tbody class="collection mb1" *ngIf="items.length !== 0; else empty">
        <tr *ngFor="let item of items; let i = index">
            <td
                class="collection-item content"
                (click)="onQuestionSelect(item)"
            >
                {{ item.content }}</td
            >
            <td class="collection-item date"> {{ item.date }}</td>
            <td class="collection-item viewedNumber">
                {{ item.viewedNumber }}</td
            >
            <td class="collection-item answersAmount">
                {{ item.answersAmount }}</td
            >

            <td class="collection-item delete" *ngIf="admin"
                ><i (click)="onDelete(item)" class="material-icons"
                    >delete</i
                ></td
            >
        </tr>
    </tbody>
    <ng-template #empty>
        <div class="center">There are no items in category</div>
    </ng-template>
</table>
<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
