<div class="log-page row">
    <div class="center header">
        <h2> About Us </h2>
    </div>
    <div class="col s2 offset-s1">
        <div class="card">
            <div class="card__title">Web Developer</div>
            <div class="card__img"
                ><img
                    src="https://psv4.userapi.com/c856228/u230209302/docs/d16/8fd75b5e393b/Icon.png?extra=Muqjh2rQv3GVfVSjWz4InAA2w-mMXEMCNNm7M7LUwRZBC0V3MN7dlpdeoR9d8GnGqCEnWtaur9A6HxJW4FCrBxkiNiCspubdoYJiyteAgFkL1SjvIXtmuqamW_1K7A-DqpGfc83Fbvi1UHgVLxZ6X0x97YI"
                    alt=""
            /></div>
            <div class="card__description"
                ><p>Tkachev Mikhail</p> <p>Student of TPU</p></div
            >
        </div>
    </div>
    <div class="col s5 offset-s1 center">
        <h3>Web site for seqrching and asking questions</h3>
    </div>
    <div class="col s12 center">
        <div class="title"> <h3>Developed using MEAN stack</h3> </div>

        <img
            src="https://psv4.userapi.com/c856228/u230209302/docs/d7/5736cdd7f10a/Stack_MEAN.png?extra=emJDMcqKopqSIAQIxLuUGA4C_ds1_FnoyQpD6uQdZFPKWGwYTim9L2uiJMh_WGLcSDy7C1QpMjCE4sXa5Fcvpa2Ttyg_D9U1b1dwVudVBte8jdAyasN7BfarYwIXwvMVh00qilJzNo9ojx_cVk2MMPB4EmQ"
            alt=""
        />
    </div>
</div>
