<div class="row page">
    <div class="nav col s2">
        <div class="logo" [routerLink]="links[0].url">
            <img src="https://pirat.biz/styles/piratebay/img/faq.png" alt="" />
        </div>
        <form class="search">
            <div class="input-field">
                <input type="search" required />
                <label class="label-icon" for="search"
                    ><i class="material-icons">search</i></label
                >
                <i class="material-icons">close</i>
            </div>
        </form>
        <div class="collection">
            <a
                *ngFor="let link of links"
                routerLinkActive="active"
                (click)="onPageChange(link.name)"
                [routerLink]="[link.url]"
                class="collection-item"
                >{{ link.name }}</a
            >
        </div>

        <button
            class="center waves-effect btn waves-orange blue lighten-1"
            (click)="logOut()"
            >Exit</button
        >
    </div>
    <main class="offset-s2 col s9">
        <router-outlet></router-outlet>
    </main>
</div>
