<nav>
    <div class="nav-wrapper grey lighten-1">
        <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li *ngFor="let link of links" routerLinkActive="active">
                <a
                    class="waves-effect waves-orange"
                    [routerLink]="[link.url]"
                    (click)="onPageChange(link.name)"
                    >{{ link.name }}</a
                >
            </li>
            <li class="bold last">
                <a
                    href="#"
                    class="waves-effect waves-orange"
                    (click)="logout($event)"
                    >Exit</a
                >
            </li>
        </ul> -->
    </div>
</nav>

<main>
    <router-outlet></router-outlet>
</main>
