<div class="center">
    <button class="btn grey lighten-1 waves-effect" (click)="onAddItem()">
        Ask Question
    </button>
</div>

<div class="modal" #modal>
    <div
        class="modal-content"
        [formGroup]="form"
        *ngIf="!loadingModal; else loaderModal"
    >
        <h4 class="mb1">Ask new Question</h4>

        <label>Question</label>
        <input
            [formControlName]="content"
            type="text"
            [ngClass]="{
                invalid: content.invalid && content.touched
            }"
            (keyup)="onChangeField()"
        />

        <span
            *ngIf="content.invalid && content.touched"
            class="helper-text red-text"
        >
            The field should not be empty.
        </span>
    </div>
    <ng-template #loaderModal>
        <app-loader></app-loader>
    </ng-template>

    <div class="modal-footer">
        <button
            class="modal-action btn waves-effect"
            type="button"
            (click)="onModalSubmit()"
            [disabled]="form.invalid"
        >
            Save
        </button>
        <button
            type="button"
            (click)="onModalCancel()"
            class="modal-action waves-effect waves-black btn-flat"
        >
            Cancel
        </button>
    </div>
</div>
