<div class="row home">
    <div class="offset-s2 col s8 center banner">
        <h2 class="title"> frequently asked questions </h2>
        <h3 class="description">
            Collection of frequently asked questions on various topics and
            answers to them
        </h3>
        <div class="start-btn">
            <button class="waves-effect btn blue lighten-1" (click)="onAction()"
                >get Started</button
            >
        </div>
    </div>
</div>

<!-- 
    гость: смотрит вопросы и ищет вопросы пользователь создает вопросы, видит список своих вопросов и их статистику, редактирует и удаляет вопросы вместе
    с вопросом удаляется ответы пользователь редактирует и удаляет только свои
    вопросы админ создает категории, вопросы,ответы редактирует видит и удаляет
    логи список вопросов с фильтром по пользователям у гостя: главная с поиском
    вопросы с поиском страница вопроса с ответами и статой о нас войти модалка у
    пользователя: главная с поиском вопросы с поиском страница вопроса с
    ответами и статой мои вопросы о нас выйти 
    
    у админа: 
    главная с поиском

    вопросы с поиском 
    страница вопроса с ответами и статой 
    Вопросы пользователей
    Логи пользователей 
    о нас в
    ыйти 
    
    на странице с вопросами вверху Chips и уже
    один ранодомно выбранный выбран у админа есть кнопка add для добавления
    категории при нажатии появляется новый Chip с формой и галочкой для
    сохранения при вводе данных галочка меняет цвет пользователь делает текущим
    выбранный элемент подсвечивается затем отображается список вопросов со
    статистикой при нажатии на вопрос он разворачивается на весь экран и вверху
    имеются хлебные крошки или кнопка назад которая в случае страницы вопросов
    возращает назад в вопросы а в случае страницы мои вопросы возвращает на мои
    вопросы по возвращению выбранная категория остается активной сделать лимит
    по количеству пользователей для регистрации и заполнить его и сделать табы в
    модалке регистрации и валидацию при удалении сущностей
 -->
