.question {
    border-bottom: 1px solid #42a5f5;
    padding: 50px;
}
.header {
    border-bottom: 1px solid #42a5f5;
}
.answer {
    position: relative;
    .delete {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
}
