<div class="row">
    <div class="center header">
        <h2> Question </h2>
    </div>
    <div class="content" *ngIf="!loading; else loader">
        <div class="question col s12">
            <div class="edit center" *ngIf="admin">
                <input
                    class="center questionInput"
                    type="text"
                    [(ngModel)]="question.content"
                />
                <i
                    class="material-icons"
                    *ngIf="question.content != ''"
                    (click)="onEditQuestion()"
                    >check</i
                >
            </div>

            <h3 *ngIf="!admin" class="center">
                {{ question.content }}
            </h3>
            <div class="content-fields col s3">
                <div class="content__item"
                    >Viewed: {{ question.viewedNumber }}</div
                >
                <div class="content__item">Date: {{ question.date }}</div>
                <div class="content__item"
                    >Answers: {{ question.answersAmount }}</div
                >
            </div>
        </div>
        <div class="answers col s12" *ngIf="answers.length !== 0; else empty">
            <div class="answer" *ngFor="let answer of answers">
                <div class="edit center" *ngIf="answer.admin">
                    <input
                        class="center questionInput"
                        type="text"
                        [(ngModel)]="answer.answer.content"
                    />
                    <i
                        class="material-icons"
                        *ngIf="answer.answer.content != ''"
                        (click)="onEditAnswer(answer)"
                        >check</i
                    >
                </div>

                <h4 class="center" *ngIf="!answer.admin">
                    {{ answer.answer.content }}</h4
                >
                <div class="delete" *ngIf="answer.admin">
                    <i
                        class="material-icons"
                        (click)="onDeleteAnswer(answer.answer)"
                        >clear</i
                    >
                </div>

                <div class="content__item">Date: {{ answer.answer.date }}</div>
            </div>
        </div>

        <ng-template #empty>
            <div class="center">There are no Answers </div>
        </ng-template>

        <app-create-modal
            class="col s10 offset-s1"
            [id]="question._id"
            [page]="page"
            [user]="user"
            [service]="answerService"
            (onChangeEvent)="newAnswerCreated($event)"
        ></app-create-modal>
    </div>
    <ng-template #loader>
        <app-loader></app-loader>
    </ng-template>
</div>
